body {
  background-color: black;
  color: #B6BAB2;
  padding: 60px 30px 30px 30px; }

.artwork-tile {
  text-align: center; }
  .artwork-tile img {
    height: 180px; }

.landing {
  text-align: center; }
  .landing a {
    text-decoration: none;
    color: #DEAD42; }
  .landing img {
    width: 100%;
    max-width: 340px; }
