body {
  background-color: #222;
  padding: 60px 30px 30px 30px; }

.artwork-tile {
  display: inline;
  transition: all 0.33s;
  background-position: top center;
  width: 180px;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  z-index: 0; }

.artwork-tile:hover {
  transform: scale(2);
  z-index: 100; }
