
<div ng-controller="MusicController as music" class="edit-music">
  <div class="form-horizontal">
    <div class="row">
      <button type="button" ng-click="music.add()" class="btn btn-warning">Add</button>
    </div>
    <div ng-repeat="artist in music.artists" class="record row">
      <div class="form-group">
        <label class="control-label col-sm-2">Name</label>
        <div class="col-sm-3">
          <input type="text" ng-model="music.artists[$index].name" class="form-control"/>
        </div>
        <label class="control-label col-sm-2">Order</label>
        <div class="col-sm-2">
          <input type="text" ng-model="music.artists[$index].order" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">SndCld ID</label>
        <div class="col-sm-2">
          <input type="text" ng-model="music.artists[$index].soundCloudId" class="form-control"/>
        </div>
        <label class="control-label col-sm-2 col-sm-offset-1">SndCld URL</label>
        <div class="col-sm-5">
          <input type="text" ng-model="music.artists[$index].soundCloudUrl" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="button" ng-click="music.save()" class="btn btn-warning">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>